* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background-image: url('/frontend/img/camaras2.jpg');
}
.contenedor{
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
}
div.contenedor-central{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div.contenedor-flexible{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    box-shadow: 0 0 40px #6d6c6c;
    background-color: #ffffff;
}
.form-login{

    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    padding: 20px 30px;
    color: white; 
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls{
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
}
.buttons {
    transition-duration: 0.4s;
}

.buttons:hover {
    background-color: black; /* Green */
    color: white;
}  

.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover{
    text-decoration: underline;
}
div.contenedor-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo_protego.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 40px 80px;
    position: relative;
}